.chartContainer {
  flex: 1;
  color: whitesmoke;
  padding: 2vh;
  background-color: #1d1f1c;
}

.title {
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download {
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.chart {
  flex: 1;
  padding: 10px;
  height: 38vh;
  border: dotted whitesmoke 2px;
}
