.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.mainSection {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.editorSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chartSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
