.container {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  overflow: scroll;
}

.wave {
  width: 28vw;
  height: 33vh;
  margin-right: 1.5vw;
  margin-top: 3vh;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.decoTitleWave {
  width: 88vw;
  height: 5vh;
  margin-right: 1.5vw;
  margin-top: 3vh;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.decoSubtitleWave {
  width: 16vw;
  height: 5vh;
  margin-right: 1.5vw;
  margin-top: 3vh;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.text {
  margin-left: 3vw;
  height: 5vh;
}

.activeText {
  color: white;
  text-shadow: 0px 0px 30px white;
  height: 5vh;
}

.inactiveText {
  color: gray;
}