.container {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
}

.wave {
  width: 44vw;
  height: 33vh;
  border: 1px solid white;
}

.text {
  margin-left: 3vw;
}

.activeText {
  color: white;
  text-shadow: 0px 0px 30px white;
}

.inactiveText {
  color: gray;
}
