body {
  margin: 0;
  color: white;
  font-size: 20px;
  background: green;
}

::-webkit-scrollbar {
  display: none;
}

/* flexbox */
.fbh,
.fbv {
  display: flex;
}

.fbv {
  flex-direction: column;
}

.fbas {
  align-items: flex-start;
}

.fbac {
  align-items: center;
}

.fbae {
  align-items: flex-end;
}

.fbast {
  align-items: stretch;
}

.fbjs {
  justify-content: flex-start;
}

.fbjc {
  justify-content: center;
}

.fbje {
  justify-content: flex-end;
}

.fbjsb {
  justify-content: space-between;
}

.fbn {
  flex: none;
}

.fb1 {
  flex: 1;
}

.fb2 {
  flex: 2;
}

.fb3 {
  flex: 3;
}

.fb7 {
  flex: 7;
}

.fb10 {
  flex: 10;
}

.fbw {
  flex-wrap: wrap;
}

.fbnw {
  flex-wrap: nowrap;
}

/* common */
.bold {
  font-weight: 400;
}

.omit {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.omit2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.omit3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.miniTip {
  border-radius: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 2px solid transparent;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.hand {
  cursor: pointer;
}

.clip {
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.oh {
  overflow: hidden;
}
